#welcome{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
}

.sub{
    margin: 1rem 25rem;
    text-align: center;
}

#queryHead{
    text-align: center;
    font-size: 1rem;
}

.tables{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.exampleSection{
    text-align: center;
    margin: auto 25rem;
}

.codeSection{
    text-align: left;
    padding-left: 19%;
}